body {
	font-family: Arial, San-Serif;
	font-size: 100%;
    background-color: #DFFCC3; 
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
header {
	padding: 50px 0;
	background-color: #B9EB8B;
}
h1,h2 {
	color: black;
	text-align: center;
}
nav {
	background-color: #f5f187;
	border-color: #DFFCC3;
	min-height: 60px;
}
nav li {
	float: left;
	width: 250px;
}
nav a {
	display: block;
	color: black;
	line-height: 2em;
	font-weight: bold;
	text-align: center;
}
nav li a:hover {
	color: #fad72d;
	background-color: #25171A;
}
p {
	font-size: 16px;
	line-height: 1.8em;
	margin-top: 0em;
	margin-bottom: 1;
	color: #4B244A;
	text-align: justify;
}
footer {
		background-color: #B9EB8B;
		color: #533A7B;
		padding: 20px 0;
		margin-top: 310px;
}
/*.container{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	align-items: stretch;
	height: 300px;
	border: 1px dashed green;
	background-color: #ff5599;
}
.container li{
	flex-grow:1;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-right: 8px;
	background-color: #ff5555;
	list-style-type: none;
	font-size: 50px;
}*/
.img{
	width: 700px;
	display: inline-block;
	border-radius: 30px;
	text-align: center;
	transform: scale(0.9);
	transition: .8s;
	max-width: 80%;
}
.img_left{
	width: 600px;
	display: inline-block;
	border-radius: 30px;
	text-align: right;
	transform: scale(0.9);
	transition: .8s;
	max-width: 80%;
	float: left;
}
.left{
	float: left;
	width: 300px;
}
.right{
	float: right;
}
.center{
	text-align: center;;
}
.img-container li{
	display: inline-block;
	width:50%;
	padding: 50px;
}
.img-container{
	text-align: center;
	margin-top: 20px;
	width:100%;
}
.img-container img{
	width:80%;
	display: inline-block;
	transition: 2s;
}
.img-container ul li{
	list-style-type: none;
}
.inline-img img{
	width: 600px;
	display: inline-block;
	border-radius: 15px;
	text-align: center;
	transform: scale(1);
	transition: .3s;
	max-width: 70%;
}
.inline-img img:hover{
	transform: scale(1);
}
.multimedia{
	overflow: auto;
}
.multimedia-video{
	display: inline-block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	width: 25%;
	box-sizing: border-box;
}
form{
	padding: 15px 0;
	float: right;
}
.form_comment{
	padding: 15px 0;
	float: none;
}